.App {
  text-align: center;
}
.datausa-component {
  display: flex;

}
.search-column {
  padding: 2em;
  margin: 2em;
  width: 25%;
}

.graph-column {
  width: 75%;
  margin: 2em;
  padding: 2em;
}

ul{
  list-style-type: none;
}